<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Shoelace CSS stuff - Maybe use -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script> -->
  
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="header-container">
    <header class="header">
      <img class="open-hope-logo" src="images/open-hope-logo.png" alt="Open Hope Logo">
      <div class="menu-links">
        <a href="#">Home</a>
        <a href="#">Lost a Pet?</a>
        <a href="#">Find a shelter</a>
      </div>
      <div class="menu-login">
        <a class="register-btn" href="#">Sign Up</a>
        <a class="login-btn" href="#">Log in</a>
      </div>
    </header>
  </div>
  <section class="hero-container">
    <div class="hero">
      <h1>Help your animals find their Forever Home</h1>
      <span>After all, everyone deserves a second chance.</span>
      <a href="#">Get Started</a>
      <img class="hero-image" src="images/dog-hero.avif" alt="">
    </div>
    <section class="hero-secondary-container">
      <div class="hero-secondary">
        <h2>Stop Worrying(placeholder)</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet porta ex. Donec lacinia aliquet ex id sodales. Curabitur rhoncus porta tortor non fermentum. Curabitur accumsan ut nisl et pulvinar. Phasellus in felis lorem. Sed vestibulum ut lorem non luctus</span>
        <div class="hero-cat-right-container">
          <img class="hero-cat-right" src="images/hero-cat-right.webp" alt="">
        </div>
      </div>
      <div class="hero-secondary">
        <h2>Stop Worrying(placeholder)</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet porta ex. Donec lacinia aliquet ex id sodales. Curabitur rhoncus porta tortor non fermentum. Curabitur accumsan ut nisl et pulvinar. Phasellus in felis lorem. Sed vestibulum ut lorem non luctus</span>
        <div class="hero-cat-right-container">
          <img class="hero-cat-right" src="images/hero-cat-right.webp" alt="">
        </div>
      </div>
      <div class="hero-secondary">
        <h2>Stop Worrying(placeholder)</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet porta ex. Donec lacinia aliquet ex id sodales. Curabitur rhoncus porta tortor non fermentum. Curabitur accumsan ut nisl et pulvinar. Phasellus in felis lorem. Sed vestibulum ut lorem non luctus</span>
        <div class="hero-cat-right-container">
          <img class="hero-cat-right" src="images/hero-cat-right.webp" alt="">
        </div>
      </div>
    </section>
  </section>
  <!-- TODO: Add 3 cards after big hero section, evenly spaced. This will contain text and maybe some images.
  Another option is to make two cards, also evenly spaced. Expand on hover. -->
</body>
</html>